    """
    1
    12
    123
    1234
    12345
    """

In [2]:
for i in range(1,6):
    for j in range(i):
        print(j+1, end = "")
        
    print(" ")

1
12
123
1234
12345

    """
    1
    22
    333
    4444
    55555
    """

In [5]:
for i in range(6):
    for j in range(i):
        print(i, end=" ")
        
    print(" ")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

"""

12345
1234
123
12
1

"""

In [8]:
n = 5
for i in range (n):
    for j in range(n):
        print(j+1, end="")
        
    n = n-1
    print(" ")

12345
1234
123
12
1

    """
        *
       ***
      *****
     ********
    **********
    """

In [14]:
for i in range (5):
    for j in range(i):
        print("*"*j, end = "")
        
    print(" ")

*
***
******

In [17]:
list1 = [1,2,3,4,5,6,7]

n = len(list1)
if n % 2 == 0:
    median = (list1[n//2 - 1] + list1[n//2]) / 2
    
else:
    median = list1[n//2]
    
print(median)

4